<main>
    <div class="email-verification-container flex-column">
        <div class="form-container">
            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="form-send-email flex-column">
                <h1 class="text-title-send-email bold">Cambiar contraseña</h1>
                <div class="form-group flex-column">
                    <label for="password">Ingrese su nueva contraseña.</label>
                    <input 
                        type="password" 
                        formControlName="password" 
                        class="input-style" 
                        placeholder="Ingrese la nueva contraseña" 
                        id="password">
                    @if (changePasswordForm.get('password')?.touched){
                        @if (changePasswordForm.get('password')?.hasError('required')) {
                            <small class="error-forms">La contraseña es requerida</small>
                        }
                        @if (changePasswordForm.get('password')?.errors?.['pattern']) {
                            <small class="error-forms">La contraseña debe tener mínimo 8 caracteres, una mayúscula, una minúscula, un número y un símbolo (_ ! @ # $ % ^ & * -)</small>
                        }
                    }
                </div>
                <div class="form-group flex-column">
                    <label for="confirmpassword">Confirme su nueva contraseña.</label>
                    <input 
                        type="password" 
                        formControlName="confirmPassword" 
                        class="input-style" 
                        placeholder="Confirme la nueva contraseña" 
                        id="confirmpassword">
                    @if (changePasswordForm.get('confirmPassword')?.touched){
                        @if (changePasswordForm.get('confirmPassword')?.hasError('required')) {
                            <small class="error-forms">Debe confirmar la contraseña</small>
                        }
                        @if (changePasswordForm.hasError('passwordMismatch')) {
                            <small class="error-forms">Las contraseñas no coinciden</small>
                        }
                    }
                </div>
                <div class="buttons flex-row">
                    <button class="button-access button-secondary" type="button" (click)="onCancel()">Cancelar</button>
                    <button class="button-access" type="submit" [disabled]="loading">@if(loading){<span class="spinner"></span>Cambiando}@else{Cambiar}</button>
                </div>
            </form>

        </div>
    </div>
</main>