<main>
    <div class="email-verification-container flex-column">
        <div class="form-container">
            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="form-send-email flex-column">
                <h1 class="text-title-send-email bold">Cambiar contraseña</h1>
                <div class="form-group flex-column">
                    <label for="password">Ingrese su nueva contraseña.</label>
                    <input 
                        type="password" 
                        formControlName="password" 
                        class="input-style" 
                        placeholder="Ingrese la nueva contraseña" 
                        id="password">
                    @if (changePasswordForm.get('password')?.hasError('required') && changePasswordForm.get('password')?.touched) {
                        <span class="error-forms">La contraseña es requerida</span>
                    }
                    @if (changePasswordForm.get('password')?.hasError('minlength') && changePasswordForm.get('password')?.touched) {
                        <span class="error-forms">La contraseña debe tener al menos 6 caracteres</span>
                    }
                </div>
                <div class="form-group flex-column">
                    <label for="confirmpassword">Confirme su nueva contraseña.</label>
                    <input 
                        type="password" 
                        formControlName="confirmPassword" 
                        class="input-style" 
                        placeholder="Confirme la nueva contraseña" 
                        id="confirmpassword">
                    @if (changePasswordForm.get('confirmPassword')?.hasError('required') && changePasswordForm.get('confirmPassword')?.touched) {
                        <span class="error-forms">Debe confirmar la contraseña</span>
                    }
                    @if (changePasswordForm.hasError('passwordMismatch') && changePasswordForm.get('confirmPassword')?.touched) {
                        <span class="error-forms">Las contraseñas no coinciden</span>
                    }
                </div>
                <div class="buttons flex-row">
                    <button class="button-access button-secondary" type="button" (click)="onCancel()">Cancelar</button>
                    <button class="button-access" type="submit" [disabled]="!changePasswordForm.valid">Cambiar</button>
                </div>
            </form>

        </div>
    </div>
</main>