<div class="user-comment flex-row">
    <img class="img-user" src="https://i.pinimg.com/736x/f0/21/ec/f021ecfb624d5a2b8880791234c557cc.jpg" alt="img">
    <div class="user-info-comment flex-column">
        <div class="user-publication-date flex-row">
            <p class="user-name bold">IrvingEscalante</p>
            <p class="publication-date">Hace un momento</p>
        </div>
        <div class="stars">

        </div>
        <p class="comment">Excelente curso para principiantes, las explicaciones son muy claras</p>
    </div>
</div>