.user-comment{
    gap: 10px;
}
.img-user{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}
.user-publication-date{
    align-items: center;
    gap: 20px;
}
.publication-date{
    font-size: 13px;
    color: #858B96;
}
.stars {
  display: flex;
  gap: 4px;
  margin-bottom: 10px;
}

.star {
  font-size: 16px;
  color: #ccc; /* estrellas vacías */
}

.star.filled {
  color: #f3c63f; /* estrellas llenas */
}
