<div class="modal-overlay" (click)="close()"></div>

<div class="followers-modal">
    <div class="header">
        <h2>{{ title }}</h2>
        <button class="close-btn" (click)="close()">✕</button>
    </div>

    <div class="followers-list">
        @if (loading) {
            <div class="loader-center-modal">
                <div class="loader"></div>
            </div>
        } @else {
            @if (users.length === 0) {
                <p class="empty">No hay usuarios</p>
            } @else {
        @for (u of users; track $index) {
            <div class="user-row">
                <div class="left">
                    <p (click)="goToUserProfile(u.username)"><app-avatar [size]="48" [name]="u.name" [photo]="u.photo"></app-avatar></p>
                    <div class="user-info">
                        <span class="name">{{ u.name }} {{ u.lastname }}</span>
                        <span class="username">@{{ u.username }}</span>
                    </div>
                </div>
                @if (u.username != user?.username) {
                    <button 
                        class="follow-btn" 
                        [class.unfollow]="u.is_following" 
                        (click)="followUnfollow(u)">
                        {{ u.is_following ? 'Siguiendo' : 'Seguir' }}
                    </button>
                }
            </div>
        }
    }
        }
    </div>
</div>
