<div class="course-form-container" [formGroup]="courseForm">
  <h1 class="course-title">{{ title }}</h1>

  <div class="course-card">
    <form [formGroup]="courseForm" (ngSubmit)="onSubmit()" class="course-form" novalidate>

      <!-- 1. Course details -->
      <h2 class="section-title">1. Detalles del curso</h2>

      <div class="grid-2">
        <div class="form-group">
          <label>Nombre del curso</label>
          <input formControlName="title" class="input-style" />
        </div>

        <div class="form-group">
          <label>Tema relacionado</label>
          <select formControlName="topic" class="input-style">
            <option value="">Selecciona</option>

            @for (t of themes; track $index) {
              <option [value]="t.id_theme">{{ t.name_theme }}</option>
            }
          </select>
        </div>
      </div>

      <div class="form-group">
        <label>Descripción del curso</label>
        <textarea formControlName="description" class="input-style" rows="4"></textarea>
      </div>

      <!-- Image dropzone -->
      <div class="form-group">
        <label>Imagen del curso</label>

        <div class="image-dropzone" (click)="coverInput.click()">
          <input #coverInput type="file" (change)="onCoverSelected($event)" class="image-input" />

          <div class="dropzone-content">
            @if (!coverPreview) {
              <p>Click o arrastra una imagen aquí</p>
            } @else {
              <img [src]="coverPreview" alt="preview" style="max-height:140px; border-radius:8px;" />
            }
          </div>
        </div>
      </div>



      <div class="submit-row">
        <button type="submit" class="btn-submit">Publicar curso</button>
      </div>

    </form>
  </div>
</div>
