.principal-content-formcourse{
    padding: 60px 100px;
}
.title-form{
    font-size: 25px;
}
.container-form{
    background-color: #121C2D;
    padding: 20px;
    border-radius: 10px;
}
.form-group{
    gap: 20px;
    font-size: 15px;
}
.form{
    gap: 20px;
}
.description-image{
    gap: 20px;
}
.name-theme{
    width: 100%;
    gap: 30px;
}
.name-theme >*{
    width: 100%;
}
.button-public{
    background-color: var(--primary-button);
    width: fit-content;
    align-self: flex-end;
    color: var(--text-color);
    padding: 10px 30px;
    font-size: 15px;
    border-radius: 30px;
}