<div class="publication-container">

  <div class="publication-header">
    <div class="header-top flex-row">
      <div class="header-text flex-column">
        <div class="publication-title-container flex-row">
          <div class="material-icons">article</div>
          <h3 class="publication-title">{{ publication.name_publication }}</h3>
        </div>
        <p class="publication-description">{{ publication.description }}</p>
      </div>
      @if (isMyCourse) {
        <div class="header-actions flex-row">
          <div class="action-icon" (click)="onEditPublication()" title="Editar publicación">
            <span class="material-icons">edit</span>
          </div>
          <div class="action-icon delete" (click)="onDeletePublication()" title="Eliminar publicación">
            <span class="material-icons">delete</span>
          </div>
        </div>
      }
    </div>
  </div>
@if (publication.content) {
  <app-publication-content
    [content]="publication.content"
    [apiUrlBack]="apiUrlBack"
    (pdfClick)="onPdfClick($event)"
    (imageClicked)="onImageClicked($event)">
  </app-publication-content>
}

</div>

<app-modal-confirmation
  [isOpen]="isConfirmOpen"
  [title]="'Eliminar publicación'"
  [description]="'¿Estás seguro de que deseas eliminar la publicación ' + publication.name_publication + '? Esta acción no se puede deshacer'"
  [confirmText]="'Eliminar'"
  [cancelText]="'Cancelar'"
  [loading]="confirmingDelete"
  (confirm)="confirmDeletePublication()"
  (cancel)="onCancelDelete()">
</app-modal-confirmation>