<div class="publication-container">

  <div class="publication-header">
    <h3 class="publication-title">{{ publication.name_publication }}</h3>
    <p class="publication-description">{{ publication.description }}</p>
  </div>

  <div class="publication-content">

    <!-- GRID para PDFs -->
    <div class="pdf-grid">
      @for (content of publication.content; track $index) {
        @if (content.type_content === 'pdf') {

          <div class="pdf-card" (click)="openPdf(content.content)">

            <div class="pdf-card-header">
        

              <div class="pdf-icon-wrapper">
                <svg width="40" height="40" viewBox="0 0 24 24" stroke="white" fill="none">
                  <path d="M7 2H14L19 7V22H7V2Z" stroke-width="2.4"/>
                  <path d="M14 2V7H19" stroke-width="2.4"/>
                </svg>
              </div>
            </div>

            <div class="pdf-card-body">
              <p class="pdf-title">{{ publication.name_publication }}</p>

              <div class="pdf-meta">
                <span>{{ '23' }} páginas</span>
              </div>
            </div>

          </div>

        }
      }
    </div>
    <!-- FIN GRID PDFs -->

    <!-- CONTENIDO QUE NO ES PDF -->
    @for (content of publication.content; track $index) {
      @if (content.type_content !== 'pdf') {

        @switch (content.type_content) {

          @case ('image') {
            <div class="content-card">
              <img [src]="content.content" alt="Imagen" class="content-image" />
            </div>
          }

          @case ('video') {
            <div class="content-card">
              <video [src]="content.content" controls class="content-video"></video>
            </div>
          }

          @case ('youtube') {
            <div class="content-card">
              <app-youtube-player [video]="content.content"></app-youtube-player>
            </div>
          }

          @default {
            <div class="content-card">
              <a [href]="content.content" target="_blank" class="content-download">
                Descargar archivo ({{ content.type_content }})
              </a>
            </div>
          }

        }

      }
    }

  </div>
</div>
