<div class="publication-container">

  <div class="publication-header">
    <h3 class="publication-title">{{ publication.name_publication }}</h3>
    <p class="publication-description">{{ publication.description }}</p>
  </div>

  <div class="publication-content">

    <!-- GRID para PDFs -->
    <div class="pdf-grid">
      @for (content of publication.content; track $index) {
        @if (content.type_content === 'pdf' || content.type_content === 'pptx') {

          <div class="pdf-card" (click)="openPdf(content.content)">

        <!-- Mitad superior: PREVIEW -->
        <div class="pdf-preview-wrapper">
          <object 
            [data]="apiUrlBack + content.content | safeUrl" 
            class="pdf-preview">
          </object>
        </div>

        <!-- Mitad inferior: Información -->
        <div class="pdf-card-body">
          <p class="pdf-title">{{ getFilename(content.content) }}</p>

          <div class="pdf-meta">
            <span>PDF</span>
          </div>
        </div>

      </div>


        }
      }
    </div>
    <!-- FIN GRID PDFs -->

    <!-- CONTENIDO QUE NO ES PDF -->
    @for (content of publication.content; track $index) {
      @if (content.type_content !== 'pdf') {

        @switch (content.type_content) {

          @case ('image') {
            <div class="content-card">
              <img [src]="content.content" alt="Imagen" class="content-image" />
            </div>
          }

          @case ('video') {
            <div class="content-card">
              <video [src]="content.content" controls class="content-video"></video>
            </div>
          }

          @case ('video-embed') {
            <div class="content-card">
            <youtube-player
              [videoId]="extractYouTubeId(content.content) || ''"
              [playerVars]="{ autoplay: 0 }">
            </youtube-player>
            </div>
          }

          @default {
            <div class="content-card">
              <p>{{content.content}}</p>
            </div>
          }

        }

      }
    }

  </div>
</div>
