<div class="comments-container flex-column">
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">

    <h2 class="title-comments">Comentarios y calificaciones</h2>

    <div class="comment-rating flex-column">

        <div class="rating flex-row">
            <div class="star-rating">
                @for (star of stars; track $index) {
                   <span
                        class="star"
                        [class.filled]="star <= commentForm.get('rating')?.value"
                        (click)="setRating(star)"
                        >
                        ★
                    </span>

                }
            </div>
        </div>

        <textarea
            formControlName="comment"
            class="text-area-comment"
            placeholder="Escribe un comentario aquí"
        ></textarea>

        <!-- Enviar -->
        <button class="send-comment-button bold" type="submit" [disabled]="commentForm.invalid">
            Enviar comentario
        </button>
    </div>

</form>
    <div class="comment-list flex-column">
        @for (comment of comments; track $index) {
            @if (comments.length>1) {
                <div class="border"></div>
            }
            <app-course-user-comment [comment]="comment"></app-course-user-comment>
        }
    </div>
</div>
