<div class="comments-container flex-column">
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()" #commentFormSection>

    <h2 class="title-comments">Comentarios y calificaciones</h2>

    <div class="comment-rating flex-column">

        <div class="rating flex-row">
            <div class="star-rating">
                @for (star of stars; track $index) {
                   <span
                        class="star"
                        [class.filled]="star <= commentForm.get('rating')?.value"
                        (click)="setRating(star)"
                        >
                        ★
                    </span>

                }
            </div>
        </div>

        <textarea
            formControlName="comment"
            class="text-area-comment"
            placeholder="Escribe un comentario aquí"
        ></textarea>

        <!-- Enviar o Editar -->
        <div class="button-group flex-row">
            <button class="send-comment-button bold flex-row" type="submit" [disabled]="commentForm.invalid || loadingSendEdit">
                <span class="material-icons">{{ editingCommentId !== null ? 'edit' : 'send' }}</span>
                @if(loadingSendEdit){<span class="spinner"></span>}
                {{ editingCommentId !== null ? 'Editar comentario' : 'Enviar comentario' }}
            </button>
            @if (editingCommentId !== null) {
                <button class="cancel-button bold flex-row" type="button" (click)="cancelEditComment()">
                    <span class="material-icons">close</span>
                    Cancelar
                </button>
            }
        </div>
    </div>

</form>
    <div class="comment-list flex-column">
        @if (comments.length === 0) {
            <div class="no-comments-message">
                <div class="no-comments-icon"><span class="material-icons">comment</span></div>
                <p class="no-comments-text">No hay comentarios aún</p>
                <p class="no-comments-subtitle">Sé el primero en compartir tu opinión sobre este curso</p>
            </div>
        } @else {
            @for (comment of comments; track $index) {
                @if (comments.length>1) {
                    <div class="border"></div>
                }
                <app-course-user-comment [comment]="comment" [userLogged]="userLogged" (onDeleteComment)="deleteComment($event)" (onEditComment)="editComment($event)"></app-course-user-comment>
            }
        }
    </div>
</div>
