<div class="comments-container flex-column">
    <h2 class="title-comments">Comentarios y calificaciones</h2>
    <div class="comment-rating flex-column">
        <div class="rating flex-row">
            <strong>Califica este curso</strong>
            <div class="stars"></div>
        </div>
        <textarea class="text-area-comment" name="text-area-comment" id="comment" placeholder="Escribe un texto aquí"></textarea>
        <button class="send-comment-button bold">Enviar comentario</button>
    </div>
    <app-course-list-comments></app-course-list-comments>
</div>
