@if (isLoading){
    <div class="loading text-center">Cargando perfil...</div>
}
@else if (userExist){
<div class="principal-content-profile">
    <div class="container-profile flex-column">
        <div class="header-data-user flex-column">
            <img src="https://i.pinimg.com/736x/78/26/4d/78264d3ebca1f385593ff1a6552b5a7e.jpg" alt="Portada" class="user-cover">
            <div class="user-photo-name flex-column">
                <app-avatar [size]="120" [name]="user.name" [photo]="user.photo || ''"></app-avatar>
                <h1 class="name-user text-center">{{this.user.name + " " + this.user.lastname}}</h1>
                <span class="username bold text-center">@{{this.user.username}}</span>
            </div>
            <div class="user-follow flex-row">
                <span class="followers bold" (click)="openFollowers()">{{this.user.followers_count}} Seguidores</span>
                <span class="followed bold" (click)="openFollowing()">Siguiendo a {{this.user.following_count}}</span>
            </div>
            @if (showModal) {
            <app-follower-following-modal [title]="modalTitle" [users]="modalUsers" (closed)="showModal = false" [loading]="isModalLoading"> </app-follower-following-modal>
            }
            @if (user.biography) {
                <div class="description-user text-center flex-column">
                    <p>{{this.user.biography}}</p>
                </div>
            }
        </div>

        @if (userLogged && isOwner()) {
            <div class="action-buttons flex-row">
                <a routerLink="/edit-profile" class="edit-profile">Editar perfil</a>
                <a routerLink="/compartir" class="edit-profile">Compartir perfil</a>
            </div>
        }@else {
            <button class="edit-profile follow" [class.unfollow]="isFollowing" (click)="followUnfollow()">{{ isFollowing ? 'Dejar de seguir' : 'Seguir' }}</button>
        }
        <div class="courses-detail-user flex-row">
            <button (click)="selectTab('created')" [class.active]="selectedTab === 'created'">Cursos creados</button>
            <button (click)="selectTab('favorites')" [class.active]="selectedTab === 'favorites'">Cursos favoritos</button>
        </div>
    </div>
    @if (selectedTab === "created") {
        <app-course-list
            title="Cursos creados"
            [courseList]="courses"
            [username]="this.user.username">
        </app-course-list>
        }
        @else if (selectedTab === "favorites") {
            


        <app-course-list
            title="Cursos favoritos"
            [courseList]="courses_favorites"
            [username]="this.user.username"
            [isFavorites]="true">
        </app-course-list>
    }
</div>
}@else {Usuario no encontrado}