<div class="container-pull-request flex-row">
    <div class="info-pull flex-column">
        <strong class="name-pull">El curso se le agregó una implementación increible</strong>
        <p class="description-pull">Aqui va la descripcion que haga enfasis en lo que se hizo en los cambios...</p>
        <div class="info-user-and-date flex-row">
            <div class="info-user flex-row">
                <app-avatar [name]="'irving'" [photo]="''" [size]="24"></app-avatar>
                <strong>Lesly</strong>
            </div>
            <p>12/12/2022</p>
        </div>
    </div>
    <div class="checks flex-row">
        <div class="check">
            <span class="material-icons">
                check
            </span>
        </div>
        <div class="check close">
            <span class="material-icons">
                close
            </span>
        </div>
    </div>
</div>