<div class="container-pull-request flex-row" (click)="goToPullRequestDetail(pull!.id_pull_request)">
    <div class="info-pull flex-column">
        <strong class="name-pull">{{pull?.title}}</strong>
        <p class="description-pull">{{pull?.description_pull_request}}</p>
        <div class="info-user-and-date flex-row">
            <div class="info-user flex-row">
                <app-avatar [name]="pull!.user.name" [photo]="pull!.user.photo" [size]="24"></app-avatar>
                <strong>{{pull?.user?.username}}</strong>
            </div>
            <p>12/12/2022</p>
        </div>
    </div>
</div>