.form-send-email{
    gap: 10px;
}
.button-secondary{
    background-color: #787D87;
}
.buttons{
    justify-content: space-between;
    align-items: center;
}

.button-access{
    align-items: center;
    justify-content: center;
}

.buttons >*{
    width: 40%;
}
.text-title-send-email{
    text-align: center;
}