<main>
    <div class="form-container flex-column">
    <div class="title-logo flex-row">
        <img src="images/logo.png" width="80px" alt="logo" class="">
        <h2 class="text-center text-title">Iniciar Sesión</h2>
    </div>

    <form [formGroup]="loginForm" (submit)="onSubmit()" class="form-auth flex-column">
        <!-- Correo -->
        <div class="form-group flex-column">
        <label for="email" class="labels-form bold">Correo o nombre de usuario</label>
        <input 
            id="email"
            type="email" 
            formControlName="username" 
            placeholder="ejemplo@correo.com"
            class="input-style"
        />
        @if (loginForm.get('username')?.invalid && (loginForm.get('username')?.touched || loginForm.get('username')?.dirty)) {
                <small class="error-forms">Este campo es obligatorio</small>
        }
        </div>

        <!-- Contraseña -->
<div class="form-group flex-column">
    <label for="password" class="labels-form bold">Contraseña</label>

    <div class="input-password-wrapper">
        <input 
            id="password"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password" 
            placeholder="********"
            class="input-style password_input"
        />

        <button type="button" class="toggle-password" (click)="togglePassword()">
            @if(showPassword){
                <span class="material-icons">
                    visibility
                </span>
            } @else {
                <span class="material-icons">
                    visibility_off
                </span>
            }
        </button>
    </div>

    @if (loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)) {
        <small class="error-forms">Este campo es obligatorio</small>
    }
</div>

        @if (messageLogin){
            <small class="error-forms">{{messageLogin}}</small>
        }
        <div class="recover-and-button flex-column">
            <a routerLink="/recover-password" class="recover-password bold">¿Olvidaste tu contraseña?</a>
            <button class="button-access flex-row" type="submit" [disabled]="loginForm.invalid || loading"> @if(loading){<span class="spinner"></span>} Iniciar sesión</button>
        </div>
    </form>

    <div class="register-text text-center bold flex-row">
        <p>¿Aun tienes cuenta?</p>
        <a routerLink="/register" class="create-account">Crea una</a>
    </div>
    </div>
</main>