<div class="principal-container-detail-course">
    <div class="content-course">
        @if (course) {
            <div class="info-course flex-column">
                <!-- Modo Normal -->
                 @if (!isEditMode) {
                    <h1 class="name-course">{{course.name_course}}</h1>
                 }
                <!-- Modo Edición -->
                 @if (isEditMode) {
                <input 
                    type="text" 
                    class="edit-input edit-title"
                    [(ngModel)]="editingCourse.name_course"
                    placeholder="Nombre del curso">
                 }

                <!-- Descripción en Modo Normal -->
                 @if (!isEditMode) {
                    <p class="description-course">{{course.description_course}}</p>
                 }
                <!-- Descripción en Modo Edición -->
                 @if (isEditMode) {
                <textarea 
                    class="edit-input edit-description"
                    [(ngModel)]="editingCourse.description_course"
                    placeholder="Descripción del curso"
                    rows="4"></textarea>
                 }
                <!-- Botón editar (solo si no está en modo edición y es el dueño) -->

                <!-- Botones guardar/cancelar (solo en modo edición) -->

                <!-- Imagen en Modo Normal -->
                @if (!isEditMode) {
                    <img [src]="course.image" alt="" class="image-course">
                }

                <!-- Imagen en Modo Edición -->
                @if (isEditMode) {
                    <div class="image-edit-container">
                        <img 
                            class="image-course" 
                            [src]="previewImageUrl || course.image" 
                            alt="Preview">
                        
                        <label for="cover-upload" class="btn-change-cover">
                            <span class="material-icons">edit</span> Cambiar portada
                        </label>
                        <input 
                            type="file" 
                            id="cover-upload"
                            accept="image/*"
                            (change)="onCoverSelected($event)"
                            style="display: none;">
                    </div>
                }
                
            </div>
        }
        <div class="content-course-content">
            <div class="subtitle-copycourse flex-row">
                <div class="tabs-options flex-row">
                    <h3 class="option-tabs" [class.selected]="selectedTab=='content-course'" (click)="changeSelectedTab('content-course')">Contenido del curso</h3>
                    @if (course?.is_my_course) {
                        <h3 class="option-tabs" [class.selected]="selectedTab=='content-pull-request'" (click)="changeSelectedTab('content-pull-request')">Peticiones de cambios</h3>
                    }
                </div>
                @if (course && !course.is_my_course){
                    <div class="copy-course flex-row" (click)="copyCourse(course.id_course)">
                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_193_1042)">
                            <path d="M3.125 9.375H2.5C2.16848 9.375 1.85054 9.2433 1.61612 9.00888C1.3817 8.77446 1.25 8.45652 1.25 8.125V2.5C1.25 2.16848 1.3817 1.85054 1.61612 1.61612C1.85054 1.3817 2.16848 1.25 2.5 1.25H8.125C8.45652 1.25 8.77446 1.3817 9.00888 1.61612C9.2433 1.85054 9.375 2.16848 9.375 2.5V3.125M6.875 5.625H12.5C13.1904 5.625 13.75 6.18464 13.75 6.875V12.5C13.75 13.1904 13.1904 13.75 12.5 13.75H6.875C6.18464 13.75 5.625 13.1904 5.625 12.5V6.875C5.625 6.18464 6.18464 5.625 6.875 5.625Z" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_193_1042">
                            <rect width="15" height="15" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                        <p>Copiar curso</p>
                    </div>
                }
            </div>
            @if(selectedTab == 'content-course'){
                <div class="container-content flex-column">
                    @if (course) {
                            @for (module of modules; track $index) {
                                <app-course-module [moduleCourse]="module" [isMyCourse]="course.is_my_course" (getmodules)="onModuleDeleted($event)"></app-course-module>
                            }
                        
                        @if (course.is_my_course) {
                            <div class="add-module-tile flex-row" (click)="onAddModule()">
                                <div class="add-module-left flex-row">
                                    <span class="material-icons">add</span>
                                    <div class="add-module-text flex-column">
                                        <strong class="add-title">Agregar módulo</strong>
                                        <span class="add-hint">Crea una nueva sección para tu curso</span>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            }@else if (selectedTab == 'content-pull-request') {
                <div class="container-content flex-column">
                    @for (pull of pulls; track $index) {
                        <app-pull-request [pull]="pull"></app-pull-request>
                    }
                </div>
            }
            <div class="module-list-comments flex-column">
                @if (course && user) {
                    <app-course-comments [(value)]="courseRating" [id_course]="course.id_course" [userLogged]="user"></app-course-comments>
                }
            </div>
                
        </div>
    </div>
    <div class="more-info-course flex-column">
        @if (!isEditMode && course?.is_my_course) {
            <div (click)="enterEditMode()" class="edit flex-row">
                <span class="material-icons">edit</span>
                <p>Editar curso</p>
            </div>
        }
         @if (isEditMode) {
                    <div class="edit-actions flex-row">
                        <button class="btn-save" (click)="saveCourseEdits()">
                            <i class="bi bi-check-lg"></i> Guardar cambios
                        </button>
                        <button class="btn-cancel" (click)="cancelEditMode()">
                            <i class="bi bi-x-lg"></i> Cancelar
                        </button>
                    </div>
                }
        <div class="container-info rating flex-column">
            <div class="rating">
                <div class="rating-detail flex-row">
                    <h1 class="number">{{course?.avg_rating}}</h1>
                    <div class="flex-row">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.37508 14.8542L10.0001 13.2708L12.6251 14.875L11.9376 11.875L14.2501 9.875L11.2084 9.60417L10.0001 6.77083L8.79175 9.58333L5.75008 9.85417L8.06258 11.875L7.37508 14.8542ZM4.85425 18.3333L6.20842 12.4792L1.66675 8.54167L7.66675 8.02083L10.0001 2.5L12.3334 8.02083L18.3334 8.54167L13.7917 12.4792L15.1459 18.3333L10.0001 15.2292L4.85425 18.3333Z" fill="#FFD700"/>
                        </svg>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.37508 14.8542L10.0001 13.2708L12.6251 14.875L11.9376 11.875L14.2501 9.875L11.2084 9.60417L10.0001 6.77083L8.79175 9.58333L5.75008 9.85417L8.06258 11.875L7.37508 14.8542ZM4.85425 18.3333L6.20842 12.4792L1.66675 8.54167L7.66675 8.02083L10.0001 2.5L12.3334 8.02083L18.3334 8.54167L13.7917 12.4792L15.1459 18.3333L10.0001 15.2292L4.85425 18.3333Z" fill="#FFD700"/>
                        </svg>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.37508 14.8542L10.0001 13.2708L12.6251 14.875L11.9376 11.875L14.2501 9.875L11.2084 9.60417L10.0001 6.77083L8.79175 9.58333L5.75008 9.85417L8.06258 11.875L7.37508 14.8542ZM4.85425 18.3333L6.20842 12.4792L1.66675 8.54167L7.66675 8.02083L10.0001 2.5L12.3334 8.02083L18.3334 8.54167L13.7917 12.4792L15.1459 18.3333L10.0001 15.2292L4.85425 18.3333Z" fill="#FFD700"/>
                        </svg>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.37508 14.8542L10.0001 13.2708L12.6251 14.875L11.9376 11.875L14.2501 9.875L11.2084 9.60417L10.0001 6.77083L8.79175 9.58333L5.75008 9.85417L8.06258 11.875L7.37508 14.8542ZM4.85425 18.3333L6.20842 12.4792L1.66675 8.54167L7.66675 8.02083L10.0001 2.5L12.3334 8.02083L18.3334 8.54167L13.7917 12.4792L15.1459 18.3333L10.0001 15.2292L4.85425 18.3333Z" fill="#FFD700"/>
                        </svg>

                    </div>
                </div>
                <p class="based-ratings">Basado en 125 reseñas</p>
            @for (rating of ratings; track $index) {
                <div class="rating-bar">
                    <div class="rating-label">{{ rating.stars }}</div>
                    <div class="bar-container">
                        <div class="bar-fill" [style.width.%]="rating.percent"></div>
                    </div>
                    <div class="rating-percent">{{ rating.percent }}%</div>
                </div>
            }
            <div class="info-content flex-column">
                <ul class="list-content-course flex-column">
                    <li class="flex-row"><span class="material-icons">edit</span><p>Videos:25</p></li>
                    <li class="flex-row"><span>Archivos PDF:25</span></li>
                    <li class="flex-row"><span>Archivos PPTX:25</span></li>
                    <li class="flex-row"><span>Notas:25</span></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container-info user flex-column">
        <h2 class="title-info">Creador</h2>
        <div class="user flex-row">
            <a [routerLink]="'/'+course?.user?.username"><app-avatar [size]="40" [name]="course?.user?.name || ''" [photo]="course?.user?.photo || ''"></app-avatar></a>
            <div class="text-info-use flex-column">
                <strong>{{course?.user?.username}}</strong>
                <div class="followers-courses flex-row">
                    <p>400 seguidores</p>
                    <p>10 cursos</p>
                </div>
            </div>
        </div>
        <p class="bio-user">{{course?.user?.biography}}</p>
    </div>
    <div class="container-info colab flex-column">
        <h2 class="title-info">Colaboradores</h2>
        <div class="item-photo-colab flex-row">
            <img src="https://i.pinimg.com/736x/ad/fe/39/adfe395b3028e091991cd9b71ed4b279.jpg" alt="" class="photo-user">
            <img src="https://i.pinimg.com/736x/ad/fe/39/adfe395b3028e091991cd9b71ed4b279.jpg" alt="" class="photo-user">
            <img src="https://i.pinimg.com/736x/ad/fe/39/adfe395b3028e091991cd9b71ed4b279.jpg" alt="" class="photo-user">
            <img src="https://i.pinimg.com/736x/ad/fe/39/adfe395b3028e091991cd9b71ed4b279.jpg" alt="" class="photo-user">
            <img src="https://i.pinimg.com/736x/ad/fe/39/adfe395b3028e091991cd9b71ed4b279.jpg" alt="" class="photo-user">
        </div>
    </div>

</div>


<app-course-modal
  [isOpen]="isModalOpen"
  [actionType]="'add'"
  [elementType]="'module'"
  (onClose)="onModalClose()"
  (onSubmit)="onModalSubmit($event)">
</app-course-modal>